# Projeto 1 - Ciência dos Dados

Nome: João Luiz Leão Bueno

## Pergunta (s) a ser respondida

Qual foi o impacto econômico sofrido pela uniao europeia após todas as Discussões sobre o brexit?

## Explicação da hipótese e mecanismo

A união europeia é uma organizacao econômica e política que engloba 28 paises.A saida do Reino Unido da Uniao Europeia foi positiva economicamente falando, pois as relacões providenciadas por uma organização econômica não são sempre beneficiários, devido ao fato de que muitas vezes os países relacionados à uma organização são obrigados a se relacionar economicamente com outros países da mesma organização, mesmo que tal relação nao seja beneficiáia.  

O mecanismo de estudo será analisar a evolução da inflação, dos investimentos e o PIB dos paises pertencentes à União Europeia e os países europeus que não estão na União Europeia entre os anos de 2016 ate 2017.

## Bases de dados usadas

https://data.worldbank.org/indicator/NY.GDP.DEFL.KD.ZG - inflacao
https://data.worldbank.org/indicator/NE.GDI.TOTL.ZS - investimentos
https://data.worldbank.org/indicator/NY.GDP.PCAP.KD- Gdp

## Análise de dados

Insira abaixo uma análise de dados tratada para ter maior clareza. 

Lembre-se de que, além deste arquivo principal, você precisa entregar um ou mais *notebooks* mais brutos com todas as tentativas que fez e que não deram certo .

**Não inclua dados ou gráficos sem motivação nem interpretação** - sempre que fizer uma análise, plot ou tablea, diga qual sua intenção. Logo após a apresentação diga qual conclusão específica ou interpretação você tira daquela análise

In [3]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
inflacao= pd.read_excel('inflation_annual_percent.xlsx')
investimentos= pd.read_excel('investments_percent_of_gdp.xlsx')
GDP= pd.read_excel('gdppercapita_us_inflation_adjusted.xlsx')

In [5]:
inflacao=inflacao.set_index('country')
investimentos=investimentos.set_index('country')
GDP=GDP.set_index('country')

In [6]:
Investimentos=investimentos.iloc[:,-2:]

In [7]:
Inflacao=inflacao.iloc[:,-2:]

In [8]:
Gdp=GDP.iloc[:,-2:]

In [9]:
Inflacao['UE']='0'

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
Inflacao.loc[('Austria','Belgium','Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia','Finland','France','Germany','Greece','Hungary','Ireland','Italy','Latvia','Lithuania','Luxembourg','Malta','Netherlands','Poland','Portugal','Romania','Slovak Republic','Slovenia','Spain','Sweden','United Kingdom') ,'UE']='1'

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [11]:
Inflacao.loc[('Albania','Andorra','Belarus','Bosnia and Herzegovina','Iceland','Liechtenstein','Moldova','Monaco','Montenegro','Norway','Russia','San Marino','Serbia','Switzerland','Turkey'),'UE']='2'

In [52]:
Inf_UE=Inflacao.loc[Inflacao.UE=='1']
Inf_N_UE=Inflacao.loc[Inflacao.UE=='2']

In [ ]:
Inf_UE

In [ ]:
Inf_N_UE

In [13]:
Inf_dados_UE=Inf_UE.loc[:,[2016,2017]]
Inf_dados_N_UE=Inf_N_UE.loc[:,[2016,2017]]

In [ ]:
Inf_dados_UE

In [ ]:
Inf_dados_N_UE

In [14]:
Inf_media_UE = Inf_dados_UE.mean()
Inf_Mediana_UE=Inf_dados_UE.median()
Inf_media_N_UE = Inf_dados_N_UE.mean()
Inf_Mediana_N_UE=Inf_dados_N_UE.median()

In [ ]:
Inf_media_UE

In [ ]:
Inf_Mediana_Ue

In [ ]:
Inf_media_N_UE

In [ ]:
Inf_Mediana_N_UE

In [18]:
Inf_Mediana_UE[2017]-Inf_Mediana_UE[2016]

0.678

In [19]:
((Inf_Mediana_UE[2016]/Inf_Mediana_UE[2017])-1)*-1*100

43.741935483870975

In [20]:
Inf_Mediana_N_UE[2017]-Inf_Mediana_N_UE[2016]

0.6100000000000003

In [21]:
((Inf_Mediana_N_UE[2016]/Inf_Mediana_N_UE[2017])-1)*-1*100

22.426470588235304

In [24]:
Investimentos['UE']='0'

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
Investimentos.loc[('Austria','Belgium','Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia','Finland','France','Germany','Greece','Hungary','Ireland','Italy','Latvia','Lithuania','Luxembourg','Malta','Netherlands','Poland','Portugal','Romania','Slovak Republic','Slovenia','Spain','Sweden','United Kingdom') ,'UE']='1'

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [26]:
Investimentos.loc[('Albania','Belarus','Bosnia and Herzegovina','Iceland','Moldova','Montenegro','Norway','Russia','Serbia','Switzerland','Turkey'),'UE']='2'

In [27]:
Inv_UE=Investimentos.loc[Investimentos.UE=='1']
Inv_N_UE=Investimentos.loc[Inflacao.UE=='2']

In [28]:
Inv_dados_UE=Inv_UE.loc[:,[2016,2017]]
Inv_dados_N_UE=Inv_N_UE.loc[:,[2016,2017]]

In [29]:
Inv_media_UE = Inv_dados_UE.mean()
Inv_Mediana_UE=Inv_dados_UE.median()
Inv_media_N_UE = Inv_dados_N_UE.mean()
Inv_Mediana_N_UE=Inv_dados_N_UE.median()

In [36]:
Gdp['UE']='0'

In [37]:
Gdp.loc[('Austria','Belgium','Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Finland','France','Germany','Greece','Hungary','Ireland','Italy','Luxembourg','Malta','Netherlands','Poland','Portugal','Romania','Slovak Republic','Slovenia','Spain','Sweden','United Kingdom') ,'UE']='1'

In [38]:
Gdp.loc[('Albania','Belarus','Bosnia and Herzegovina','Iceland','Moldova','Montenegro','Norway','Russia','Serbia','Switzerland','Turkey'),'UE']='2'

In [39]:
Gdp_UE=Gdp.loc[Gdp.UE=='1']
Gdp_N_UE=Gdp.loc[Inflacao.UE=='2']

In [40]:
Gdp_dados_UE=Gdp_UE.loc[:,[2016,2017]]
Gdp_dados_N_UE=Gdp_N_UE.loc[:,[2016,2017]]

In [41]:
Gdp_media_UE = Gdp_dados_UE.mean()
Gdp_Mediana_UE=Gdp_dados_UE.median()
Gdp_media_N_UE =Gdp_dados_N_UE.mean()
Gdp_Mediana_N_UE=Gdp_dados_N_UE.median()

In [48]:
Join1 = Inf_UE.join(Inv_UE, how='inner', lsuffix='_Inflação ', rsuffix='_investimentos')

In [49]:
Join_UE=Join1.join(Gdp_UE)
Join_UE

,2016_Inflação,2017_Inflação,UE_Inflação,2016_investimentos,2017_investimentos,UE_investimentos,2016,2017,UE
country,,,,,,,,,
Austria,1.0900,1.560,1,24.1,25.1,1,48100.0,49100.0,1
Belgium,1.5800,1.680,1,24.0,24.6,1,45500.0,46100.0,1
Bulgaria,2.2500,1.180,1,19.1,20.9,1,7970.0,8310.0,1
Croatia,-0.0843,1.170,1,20.2,20.5,1,14600.0,15200.0,1
Cyprus,-0.6840,1.520,1,16.8,20.4,1,28400.0,29400.0,1
Czech Republic,1.2400,1.300,1,26.3,26.3,1,21900.0,22800.0,1
Denmark,-0.0464,1.560,1,21.0,21.0,1,60700.0,61600.0,1
Estonia,1.5900,3.980,1,24.2,25.4,1,NaN,NaN,NaN
Finland,0.7910,0.932,1,21.9,22.8,1,46000.0,47100.0,1
France,0.1810,0.996,1,22.7,23.5,1,42000.0,42600.0,1
Germany,1.3300,1.540,1,19.2,19.8,1,45900.0,46700.0,1
Greece,-0.9560,0.669,1,10.6,11.7,1,22700.0,23000.0,1
Hungary,0.9590,3.670,1,19.8,22.5,1,15000.0,15600.0,1
Ireland,0.0207,-0.308,1,32.7,24.2,1,69900.0,74400.0,1
Italy,0.8480,0.629,1,17.1,17.2,1,34300.0,34900.0,1
Latvia,0.2740,3.060,1,19.6,21.5,1,NaN,NaN,NaN
Lithuania,0.9510,4.250,1,17.2,17.5,1,NaN,NaN,NaN
Luxembourg,-1.3100,2.130,1,17.9,17.3,1,109000.0,108000.0,1
Malta,1.6300,2.530,1,23.1,NaN,1,26100.0,27100.0,1
Netherlands,0.5840,1.150,1,20.1,20.2,1,52300.0,53600.0,1
Poland,0.4160,2.010,1,19.6,20.0,1,15100.0,15800.0,1
Portugal,1.5200,1.370,1,15.5,16.3,1,22400.0,23100.0,1
Romania,2.0500,5.280,1,24.0,24.4,1,10200.0,10900.0,1
Slovak Republic,-0.4480,1.280,1,22.6,22.4,1,19300.0,19900.0,1
Slovenia,0.8960,1.980,1,18.7,19.3,1,24500.0,25700.0,1
Spain,0.2830,0.955,1,20.5,21.1,1,31500.0,32400.0,1
Sweden,1.5900,2.090,1,24.7,25.7,1,56500.0,56900.0,1
United Kingdom,1.9700,1.960,1,17.0,17.0,1,42000.0,42500.0,1

Acima está a tabela dos paises da União Europeia com todos os indicadores estudados nesse projeto

In [50]:
Join2 = Inf_N_UE.join(Inv_N_UE, how='inner', lsuffix='_Inflação ', rsuffix='_investimentos')

In [51]:
Join_N_UE=Join2.join(Gdp_N_UE)
Join_N_UE

,2016_Inflação,2017_Inflação,UE_Inflação,2016_investimentos,2017_investimentos,UE_investimentos,2016,2017,UE
country,,,,,,,,,
Albania,-0.481,1.370,2,24.8,25.2,2,4680.0,4870.0,2
Belarus,8.340,8.180,2,26.5,26.2,2,6230.0,6380.0,2
Bosnia and Herzegovina,1.410,2.350,2,19.6,20.5,2,5380.0,5560.0,2
Iceland,2.110,0.482,2,21.5,22.2,2,49000.0,49900.0,2
Moldova,5.710,6.280,2,22.3,23.3,2,2070.0,2170.0,2
Montenegro,5.100,2.720,2,26.1,29.3,2,7490.0,7810.0,2
Norway,-1.110,3.850,2,29.3,28.8,2,90300.0,91200.0,2
Russia,3.540,5.210,2,22.8,23.9,2,11300.0,11400.0,2
Serbia,2.530,2.840,2,19.1,21.0,2,5850.0,5990.0,2
Switzerland,-0.566,0.354,2,23.1,23.3,2,76700.0,76700.0,2
Turkey,8.100,10.800,2,28.2,30.9,2,14100.0,14900.0,2

Acima está a tabela dos países europeus com todos os indicadores estudados nesse projeto

## Conclusão

A minha hipótese inicial se baseava na ideia de que a economia da europa, com as discussões do Brexit, se beneficiou.

Após todas as analises feitas acima foi possivel chegar a uma conclusao de que a minha hipótese inicial está parcialmente correta, pois embora os investimentos e os PIBs per capita dos paises europeus terem aumentado, a inflação tambem aumentou. Tal feito ocorre possivelmente devido ao impacto negativo imediato da economia por uma incerteza econômica de uma mudança deste calibre.

Em relação ao histograma da inflação da União Europeia é possivel concluir que existe uma migração evidente de alguns países para um valor muito maior, como mostra a mudança de simetria dos histogramas. Evidenciando um impacto anormal no seu crescimento 

Em relação ao histograma da inflação dos Países europeus não pertencentes a União Europeia é possível afirmar que houve um crescimento natural

Em relação aos demais histogramas, é possível afirmar que houve um crescimento tanto nos investimentos quanto nos PIBs dos paises pertencentes a União Europeia e nos não pertencentes. 

Chegando a conclusão de que houve um impacto imediato negativo com o início das discussões do Brexit, porém é possível afirmar que o futuro à longo prazo da europa tende a ser possitivo